.Processor {
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    button {
        font-size: 18px;
        width: 200px;
        margin: 10px;
        cursor: pointer;
        &:hover {
            background-color: aquamarine;
        }
    }
    div {
        font-size: 18px;
    }
}